@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/_typeplate.scss";

p+p {
    text-indent: 0;
    margin-top: 0;
}

p {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

ul, ol {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
body {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 12px;
    font-family: "Graphik Web", "Arial", "Helvetica", sans-serif;
    background-color: #E7E9E8;
}

.main-header {
    position: relative;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
    background-color: white;
    border-bottom: 1px solid #CFCBC8;

        a {
            color: #e4685d;
            text-decoration: none;
            font-family: sans-serif, Arial;
            padding: 20px;
            font-size: 16px;
        }
}

.nav-header {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 0;
    background-color: white;
    border-bottom: 1px solid #CFCBC8;
    border-top: 1px solid #CFCBC8;
}

ul {
    padding: 0;
    max-width: 200ch;
}

.tab {
    font-size: 17px;
    color: #9A9A9A;
    display: inline-block;
    vertical-align: baseline;
    background: transparent;
    margin-right: 12px;
    cursor: pointer;
    margin-left: 1%;
    line-height: 50px;
    text-decoration: none;
}

.etsy-logo {
    position: relative;
    display: inline-block;
    width: 100px;
    left: 10%;   
    vertical-align: middle; 
}

#logo {
    padding-top: 10px;
}
.search-el {
    position: relative;
    display: inline-block;
    vertical-align: middle; 
    border: 1px solid #CFCBC8;
    background: #f9f9f8;
    padding: 6px 10px;
    height: 34px;
    width: 250px;
    font-size: 14px;
    outline: none;
    box-shadow: inset 0 1px 2px #E9E9E8, 0 0 0 1000px #fbfbfa inset;
    color: #333;
    white-space: nowrap;
    margin-left: 11.5%;

}

.listingGrid {
    position: relative;
    left: 2%;
    width: 95%;
    margin: auto;
}

.listing {
    position: relative;
    background-color: white;
    display: inline-block;
    border: 1px solid #CFCBC8;
    vertical-align: top;
    width: 280px;
    margin: 1%;
    border-radius: 5px;
    box-shadow: 0 1px 2px #E9E9E8;

    .fav-button {
        opacity: 0.7;
        position: relative;
        margin: 7px;
        background-color:white;
        border-radius: 50%;
        border:3px solid #FFE3CD;
        display:inline-block;
        cursor:pointer;
        color:#FFE3CD;
        font-family:Arial;
        font-size:15px;
        padding:3px 9px;
        text-decoration:none;
    }

    .fav-button:hover {
        opacity: 1;
    }
  
}

.home-image img {
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
    margin-top: -50px;
}

.title-data {
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5px;
}

.title {
    margin: 0;
}

.seller-data {
    font-size: 12px;
    color: #9A9A9A;
    padding-left: 5px;
    width: 100%;
}

.seller {
    display: inline-block;
    margin-top: 7px;
    width: 50%;
}

.price {
    position: relative;
    font-size: 12px;
    display: inline-block;
    color: #78c042;
    width: 47%;
    text-align: right;
}

.detail-listing {
    display: inline-block;
    position: relative;
    background-color: white;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 20px;
    display: inline-block;
    border: 1px solid #CFCBC8;
    vertical-align: top;
    width: 650px;
    margin: 2% 25%;
    border-radius: 5px;
    box-shadow: 0 1px 2px #E9E9E8;

    .fav-button {
        opacity: 0.5;
        position: relative;
        margin-bottom: 10px;
        background-color:white;
        border-radius: 50%;
        border:3px solid #FFE3CD;
        display:inline-block;
        cursor:pointer;
        color: #FFE3CD;
        font-family:Arial;
        font-size:20px;
        padding:2px 9px;
        text-decoration:none;
    }

    .fav-button:hover {
        opacity: 1;
    }
}

.detail-title-data {
    font-size: 20px;
}

.detail-description-d   ata {
    font-size: 14px;
    padding-top: 10px;
}

.detail-seller {
    display: inline-block;
    font-size: 20px;
    color: #9A9A9A;
    margin: 0;
    width: 50%;

}

.detail-price {
    position: relative;
    font-size: 20px;
    display: inline-block;
    color: #78c042;
    width: 47%;
    text-align: right;
}



@media (max-width: 770px) {
    .listing {
            width: 80%;
            display: block;
            margin: 25px auto; 
        },

     .tab {
        display: block;
        font-size: 20px;
        a {
          text-decoration: none; 
        }
        
     },

     .detail-listing {
        width: 95%;
        display: block;
        margin: auto;
        margin-top: 20px;
    }  
}




  

 
